@fontface {
  font-family: 'Bungee Inline', cursive;
  src: url('https://fonts.googleapis.com/css?family=Bungee+Inline')
}

@import url('https://fonts.googleapis.com/css?family=Cairo|Caveat|Courgette|Dancing+Script|Exo+2|Noto+Sans+JP|Nunito&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 .header{
/*background: linear-gradient(150deg, rgba(2,0,0,1) 0%, rgba(122,122,122,1) 69%, rgba(255,255,255,1) 99%);;*/

background:linear-gradient(150deg, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8));
background-size: cover;
background-position: center;
min-height: 670px;


}



.container-wide{
  padding: 0 2em;
}

nav{
  box-shadow: none !important;
  background: none !important;
  position: absolute !important;
  top: 0;
  width: 100%;
  padding: 20px 0 0;
  height: 40px;
}

.img-r{
  width:45%;
  height: 33%;
  padding: 7px 5px;
  margin-left: 21px;


}

.hero{
  color: #fafafa;
  padding-top: 190px;
 
  width: 100%;
  
}

li>a:hover{
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
}

.card horizontal{
  box-shadow: none !important;
  background: none !important;
  position: absolute !important;
}

span>p{
  font-size:1.5rem;
  font-family:cairo;
}

div>h1{
  
  font-family:Nunito;
  
}

.cv{ 
  font-family:Nunito;
  
}
div>h2{
  
  font-family:Nunito;
  color: #282c34;
  
}

.card-title {

font-family:Nunito;
font-size: 2.0rem;
}

span{
  
  font-family: cairo;
}

.cb{
  background: linear-gradient(50deg, rgba(2,0,0,1) 0%, rgba(106,106,106,1) 24%, rgba(84,95,112,1) 79%);
}

#wrapper > header {
  padding: 11em 0 2.25em 0 ;
}

  #wrapper > header .inner {
    margin: 0 auto;
    width: 55em;
  }

  #wrapper > header h2 {
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    font-size: 2em;
    margin-bottom: 0.8em;
    padding-bottom: 0.4em;
  }

  #wrapper > header p {
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 0.1em;
    line-height: 2;
    text-transform: uppercase;
  }

@media screen and (max-width: 1280px) {

  #wrapper > header {
    padding: 9em 0 6.25em 0 ;
    background-color: #2e3141;
    background: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8));
    background-size: auto,
cover;
    background-position: center,
0% 30%;
    margin-bottom: -6.5em;
  }

}

@media screen and (max-width: 980px) {

  #wrapper > header {
    padding: 11em 3em 7.375em 3em ;
    background-size: auto,
cover;
    background-position: center,
0% 0%;
    margin-bottom: -4.75em;
  }

    #wrapper > header .inner {
      width: 100%;
    }

}

@media screen and (max-width: 736px) {

  #wrapper > header {
    padding: 6.5em 2em 3em 2em ;
    background-size: auto,
125%;
    margin-bottom: -2.5em;
  }

    #wrapper > header h2 {
      font-size: 1.25em;
    }

    #wrapper > header p {
      font-size: 0.8em;
    }

}

.wrapper {
  background-color: #2e3141;
  
  position: relative;
}

  /* .wrapper:before, .wrapper:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%232e3141%3B' /%3E%3C/svg%3E");
  } */

  /* .wrapper:before {
    box-shadow: inset 0 -1px 0 0 #2e3141, 0 1px 0 0 #2e3141;
  }

  .wrapper:after {
    box-shadow: inset 0 -1px 0 0 #2e3141, 0 1px 0 0 #2e3141;
  } */

  .wrapper:before, .wrapper:after {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    display: block;
    height: 6.5em;
    position: absolute;
    width: 100%;
  }

  .wrapper:before {
    left: 0;
    top: -6.5em;
  }

  .wrapper:after {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
    
    left: 0;
  }

  .wrapper.alt:before {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .wrapper.alt:after {
    -moz-transform: scaleY(-1) scaleX(-1);
    -webkit-transform: scaleY(-1) scaleX(-1);
    -ms-transform: scaleY(-1) scaleX(-1);
    transform: scaleY(-1) scaleX(-1);
  }

  .wrapper .inner {
    padding: 3em 0 1em 0 ;
    margin: 0 auto;
    width: 55em;
  }

  .wrapper.style2 {
    background-color: #353849;
  }

    /* .wrapper.style2:before, .wrapper.style2:after {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23353849%3B' /%3E%3C/svg%3E");
    } */

    /* .wrapper.style2:before {
      box-shadow: inset 0 -1px 0 0 #353849, 0 1px 0 0 #353849;
    }

    .wrapper.style2:after {
      box-shadow: inset 0 -1px 0 0 #353849, 0 1px 0 0 #353849;
    } */

  .wrapper.style3 {
    background-color: #3d4051;
  }

    /* .wrapper.style3:before, .wrapper.style3:after {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%233d4051%3B' /%3E%3C/svg%3E");
    } */

    /* .wrapper.style3:before {
      box-shadow: inset 0 -1px 0 0 #3d4051, 0 1px 0 0 #3d4051;
    }

    .wrapper.style3:after {
      box-shadow: inset 0 -1px 0 0 #3d4051, 0 1px 0 0 #3d4051;
    } */

  .wrapper.style4 {
    background-color: #454858;
  }

    /* .wrapper.style4:before, .wrapper.style4:after {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23454858%3B' /%3E%3C/svg%3E");
    } */

    /* .wrapper.style4:before {
      box-shadow: inset 0 -1px 0 0 #454858, 0 1px 0 0 #454858;
    }

    .wrapper.style4:after {
      box-shadow: inset 0 -1px 0 0 #454858, 0 1px 0 0 #454858;
    } */

  .wrapper.style5 {
    background-color: #4d5060;
  }

    /* .wrapper.style5:before, .wrapper.style5:after {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%234d5060%3B' /%3E%3C/svg%3E");
    } */

    /* .wrapper.style5:before {
      box-shadow: inset 0 -1px 0 0 #4d5060, 0 1px 0 0 #4d5060;
    }

    .wrapper.style5:after {
      box-shadow: inset 0 -1px 0 0 #4d5060, 0 1px 0 0 #4d5060;
    } */

  .wrapper.style6 {
    background-color: #555867;
  }

    /* .wrapper.style6:before, .wrapper.style6:after {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23555867%3B' /%3E%3C/svg%3E");
    } */

    /* .wrapper.style6:before {
      box-shadow: inset 0 -1px 0 0 #555867, 0 1px 0 0 #555867;
    }

    .wrapper.style6:after {
      box-shadow: inset 0 -1px 0 0 #555867, 0 1px 0 0 #555867;
    } */

  .wrapper.spotlight {
    background-color: #3d414e;
  }

    /* .wrapper.spotlight:before, .wrapper.spotlight:after {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%234c5c96%3B' /%3E%3C/svg%3E");
    } */

    /* .wrapper.spotlight:before {
      box-shadow: inset 0 -1px 0 0 #4c5c96, 0 1px 0 0 #4c5c96;
    }

    .wrapper.spotlight:after {
      box-shadow: inset 0 -1px 0 0 #4c5c96, 0 1px 0 0 #4c5c96;
    } */

    .wrapper.spotlight .inner {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-align-items: center;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -moz-flex-direction: row;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
    }

    .wrapper.spotlight .image {
      border-radius: 100%;
      margin: 0 3em 2em 0;
      width: 22em;
      overflow: hidden;
      -ms-flex: 1;
    }

      .wrapper.spotlight .image img {
        border-radius: 100%;
        width: 100%;
      }

    .wrapper.spotlight .content {
      width: 100%;
      -ms-flex: 2;
    }

    .wrapper.spotlight:nth-child(2n - 1) .inner {
      -moz-flex-direction: row-reverse;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      text-align: right;
    }

    .wrapper.spotlight:nth-child(2n - 1) .image {
      margin: 0 0 2em 3em;
    }

    .wrapper.spotlight.style2 {
      background-color: #45558d;
    }

      /* .wrapper.spotlight.style2:before, .wrapper.spotlight.style2:after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%2345558d%3B' /%3E%3C/svg%3E");
      } */

      /* .wrapper.spotlight.style2:before {
        box-shadow: inset 0 -1px 0 0 #45558d, 0 1px 0 0 #45558d;
      }

      .wrapper.spotlight.style2:after {
        box-shadow: inset 0 -1px 0 0 #45558d, 0 1px 0 0 #45558d;
      } */

    .wrapper.spotlight.style3 {
      background-color: #3f4e85;
    }

      /* .wrapper.spotlight.style3:before, .wrapper.spotlight.style3:after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%233f4e85%3B' /%3E%3C/svg%3E");
      } */

      /* .wrapper.spotlight.style3:before {
        box-shadow: inset 0 -1px 0 0 #3f4e85, 0 1px 0 0 #3f4e85;
      }

      .wrapper.spotlight.style3:after {
        box-shadow: inset 0 -1px 0 0 #3f4e85, 0 1px 0 0 #3f4e85;
      } */

    .wrapper.spotlight.style4 {
      background-color: #39477c;
    }

      /* .wrapper.spotlight.style4:before, .wrapper.spotlight.style4:after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%2339477c%3B' /%3E%3C/svg%3E");
      } */

      /* .wrapper.spotlight.style4:before {
        box-shadow: inset 0 -1px 0 0 #39477c, 0 1px 0 0 #39477c;
      }

      .wrapper.spotlight.style4:after {
        box-shadow: inset 0 -1px 0 0 #39477c, 0 1px 0 0 #39477c;
      } */

    .wrapper.spotlight.style5 {
      background-color: #324072;
    }

      /* .wrapper.spotlight.style5:before, .wrapper.spotlight.style5:after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23324072%3B' /%3E%3C/svg%3E");
      } */

      /* .wrapper.spotlight.style5:before {
        box-shadow: inset 0 -1px 0 0 #324072, 0 1px 0 0 #324072;
      } */

      /* .wrapper.spotlight.style5:after {
        box-shadow: inset 0 -1px 0 0 #324072, 0 1px 0 0 #324072;
      } */

    .wrapper.spotlight.style6 {
      background-color: #2d3a69;
    }

      /* .wrapper.spotlight.style6:before, .wrapper.spotlight.style6:after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%232d3a69%3B' /%3E%3C/svg%3E");
      } */

      /* .wrapper.spotlight.style6:before {
        box-shadow: inset 0 -1px 0 0 #2d3a69, 0 1px 0 0 #2d3a69;
      } */

      /* .wrapper.spotlight.style6:after {
        box-shadow: inset 0 -1px 0 0 #2d3a69, 0 1px 0 0 #2d3a69;
      } */

  @media screen and (max-width: 980px) {

    .wrapper {
      margin: 4.75em 0;
    }

      .wrapper:before, .wrapper:after {
        height: 4.75em;
      }

      .wrapper:before {
        top: -4.75em;
      }

      .wrapper:after {
        bottom: -4.75em;
        left: 0;
      }

      .wrapper .inner {
        padding: 3em 3em 1em 3em ;
        width: 100%;
      }

      .wrapper.spotlight .image {
        margin: 0 2em 2em 0;
        width: 32em;
      }

      .wrapper.spotlight:nth-child(2n - 1) .image {
        margin: 0 0 2em 2em;
      }

  }

  @media screen and (max-width: 736px) {

    .wrapper {
      margin: 2.5em 0;
    }

      .wrapper:before, .wrapper:after {
        height: 2.5em;
      }

      .wrapper:before {
        top: -2.5em;
      }

      .wrapper:after {
        bottom: -2.5em;
        left: 0;
      }

      .wrapper .inner {
        padding: 2em 2em 0.1em 2em ;
      }

      .wrapper.spotlight .inner {
        -moz-align-items: -moz-flex-start;
        -webkit-align-items: -webkit-flex-start;
        -ms-align-items: -ms-flex-start;
        align-items: flex-start;
      }

      .wrapper.spotlight .image {
        width: 19em;
        margin: 0 1.75em 2em 0;
      }

      .wrapper.spotlight:nth-child(2n - 1) .image {
        margin: 0 0 2em 1.75em;
      }

  }

  @media screen and (max-width: 480px) {

    .wrapper.spotlight .inner {
      display: block;
    }

    .wrapper.spotlight .image {
      margin: 0 0 1em 0 !important;
      max-width: 85%;
      width: 12em;
    }

  }

  @media screen and (max-width: 360px) {

    .wrapper .inner {
      padding: 2em 1.5em 0.1em 1.5em ;
    }

  }

a.special:not(.button) {
    text-decoration: none;
    border-bottom: 0;
    display: block;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0 0 2em 0;
    text-transform: uppercase;}

a.special:not(.button):before {
      -moz-transition: background-color 0.2s ease-in-out;
      -webkit-transition: background-color 0.2s ease-in-out;
      -ms-transition: background-color 0.2s ease-in-out;
      transition: background-color 0.2s ease-in-out;
      border-radius: 100%;
      border: solid 2px rgba(255, 255, 255, 0.125);
      content: '\f105';
      display: inline-block;
      font-size: 1.25em;
      height: 2em;
      line-height: 1.75em;
      margin-right: 0.85em;
      text-align: center;
      text-indent: 0.15em;
      vertical-align: middle;
      width: 2em;
}

h1.major, h2.major, h3.major, h4.major, h5.major, h6.major {
  color:#fff;
  border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}


.cvv{
  font-family:cairo ;
}

ul.actions {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -1em;
  padding-left: 0;
}


#footer .inner {
  padding: 5em 0 3em 0 ;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 75em;
}

#footer .inner > * {
    width: 100%;
  }

#footer .inner form {
    margin: 0 3em 0 0;
    width: calc(50% - 1.5em);
  }

#footer .inner .contact {
    width: calc(50% - 1.5em);
  }

#footer .inner .copyright {
    border-top: solid 2px rgba(255, 255, 255, 0.125);
    list-style: none;
    margin: 4em 0 2em 0;
    padding: 2em 0 0 0;
    width: 100%;
  }

#footer .inner .copyright li {
      border-left: solid 2px rgba(255, 255, 255, 0.125);
      color: rgba(255, 255, 255, 0.35);
      display: inline-block;
      font-size: 0.9em;
      line-height: 1;
      margin-left: 1em;
      padding: 0;
      padding-left: 1em;
    }

#footer .inner .copyright li:first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
      }

#footer .inner .copyright li a {
        color: inherit;
      }

@media screen and (max-width: 1280px) {

  #footer {
    background-color: #2e3141;
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8));
    background-size: auto,
cover;
    background-position: center,
center;
    margin-top: -6.5em;
    padding-top: 6.5em;
  }

}

@media screen and (max-width: 980px) {

  #footer {
    margin-top: -4.75em;
    padding-top: 4.75em;
  }

    #footer .inner {
      padding: 3em 3em 1em 3em ;
      display: block;
      width: 100%;
    }

      #footer .inner form {
        width: 100%;
        margin: 0 0 4em 0;
      }

      #footer .inner .contact {
        width: 100%;
        margin: 0 0 4em 0;
      }

      #footer .inner .copyright {
        margin: 4em 0 2em 0;
      }

}

@media screen and (max-width: 736px) {

  #footer {
    margin-top: -2.5em;
    padding-top: 2.5em;
  }

    #footer .inner {
      padding: 2em 2em 0.1em 2em ;
    }

      #footer .inner form {
        margin: 0 0 3em 0;
      }

      #footer .inner .contact {
        margin: 0 0 3em 0;
      }

}

@media screen and (max-width: 480px) {

  #footer .inner .copyright li {
    border-left: 0;
    display: block;
    margin: 1em 0 0 0;
    padding-left: 0;
  }

    #footer .inner .copyright li:first-child {
      margin-top: 0;
    }

}

@media screen and (max-width: 360px) {

  #footer .inner {
    padding: 2em 1.5em 0.1em 1.5em ;
  }

}


form {
  margin: 0 0 2em 0;
}

form > :last-child {
    margin-bottom: 0;
  }

form > .fields {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% + 3em);
    margin: -1.5em 0 2em -1.5em;
  }

    form > .fields > .field {
      -moz-flex-grow: 0;
      -webkit-flex-grow: 0;
      -ms-flex-grow: 0;
      flex-grow: 0;
      -moz-flex-shrink: 0;
      -webkit-flex-shrink: 0;
      -ms-flex-shrink: 0;
      flex-shrink: 0;
      padding: 1.5em 0 0 1.5em;
      width: calc(100% - 1.5em);
    }

      form > .fields > .field.half {
        width: calc(50% - 0.75em);
      }

      form > .fields > .field.third {
        width: calc(100%/3 - 0.5em);
      }

      form > .fields > .field.quarter {
        width: calc(25% - 0.375em);
      }

  @media screen and (max-width: 480px) {

    form > .fields {
      width: calc(100% + 3em);
      margin: -1.5em 0 2em -1.5em;
    }

      form > .fields > .field {
        padding: 1.5em 0 0 1.5em;
        width: calc(100% - 1.5em);
      }

        form > .fields > .field.half {
          width: calc(100% - 1.5em);
        }

        form > .fields > .field.third {
          width: calc(100% - 1.5em);
        }

        form > .fields > .field.quarter {
          width: calc(100% - 1.5em);
        }

  }

label {
  color: #ffffff;
  display: block;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 0 0.7em 0;
  text-transform: uppercase;
}

input{
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(255, 255, 255, 0.025);
  border-radius: 5px;
  border: none;
  border: solid 2px rgba(255, 255, 255, 0.125);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;

}

form .fields .field input{
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(255, 255, 255, 0.025);
  border-radius: 5px;
  border: none;
  border: solid 2px rgba(255, 255, 255, 0.125);
  color: inherit;
  display: block;
  outline: 0;
  
  text-decoration: none;
  width: 100%;
}



textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(255, 255, 255, 0.025);
  border-radius: 5px;
  border: none;
  border: solid 2px rgba(255, 255, 255, 0.125);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;


}

  

 

select {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.125)' /%3E%3C/svg%3E");
  background-size: 1.25rem;
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) center;
  height: 2.75em;
  padding-right: 2.75em;
  text-overflow: ellipsis;
}

  

  select:focus::-ms-value {
    background-color: transparent;
  }

  select::-ms-expand {
    display: none;
  }

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 2.75em;
}

textarea {
  padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}

  input[type="checkbox"] + label,
  input[type="radio"] + label {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-transform: none;
    letter-spacing: 0;
    font-weight: 300;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;
  }

    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      text-transform: none !important;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
    }

    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      background: rgba(255, 255, 255, 0.025);
      border-radius: 5px;
      border: solid 2px rgba(255, 255, 255, 0.125);
      content: '';
      display: inline-block;
      font-size: 0.8em;
      height: 2.0625em;
      left: 0;
      line-height: 2.0625em;
      position: absolute;
      text-align: center;
      top: 0;
      width: 2.0625em;
    }

  input[type="checkbox"]:checked + label:before,
  input[type="radio"]:checked + label:before {
    background: #ffffff;
    border-color: #ffffff;
    content: '\f00c';
    color: #2e3141;
  }

  input[type="checkbox"]:focus + label:before,
  input[type="radio"]:focus + label:before {
    border-color: #4c5c96;
  }

input[type="checkbox"] + label:before {
  border-radius: 5px;
}

input[type="radio"] + label:before {
  border-radius: 100%;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  opacity: 1.0;
}

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  opacity: 1.0;
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  opacity: 1.0;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  opacity: 1.0;
}


ul.contact {
  list-style: none;
  padding: 0;
}

  ul.contact li {
    text-decoration: none;
    margin: 2.5em 0 0 0;
    padding: 0 0 0 3.25em;
    position: relative;
  }

    ul.contact li:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      text-transform: none !important;
      font-family: 'Font Awesome 5 Free';
      font-weight: 400;
    }

    ul.contact li:before {
      border-radius: 100%;
      border: solid 2px rgba(255, 255, 255, 0.125);
      display: inline-block;
      font-size: 0.8em;
      height: 2.5em;
      left: 0;
      line-height: 2.35em;
      position: absolute;
      text-align: center;
      top: 0;
      width: 2.5em;
    }

    ul.contact li:first-child {
      margin-top: 0;
    }

  @media screen and (max-width: 736px) {

    ul.contact li {
      margin: 1.5em 0 0 0;
    }

  }

  .icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			text-transform: none !important;
			font-family: 'Font Awesome 5 Free';
			font-weight: 400;
		}

		.icon > .label {
			display: none;
		}

		.icon:before {
			line-height: inherit;
		}

		.icon.solid:before {
			font-weight: 900;
		}

		.icon.brands:before {
			font-family: 'Font Awesome 5 Brands';
    }
    

    ul.contact {
      list-style: none;
      padding: 0;
    }
  
      ul.contact li {
        text-decoration: none;
        margin: 2.5em 0 0 0;
        padding: 0 0 0 3.25em;
        position: relative;
      }
  
        ul.contact li:before {
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
          text-transform: none !important;
          font-family: 'Font Awesome 5 Free';
          font-weight: 400;
        }
  
        ul.contact li:before {
          border-radius: 100%;
          border: solid 2px rgba(255, 255, 255, 0.125);
          display: inline-block;
          font-size: 0.8em;
          height: 2.5em;
          left: 0;
          line-height: 2.35em;
          position: absolute;
          text-align: center;
          top: 0;
          width: 2.5em;
        }
  
        ul.contact li:first-child {
          margin-top: 0;
        }
  
      @media screen and (max-width: 736px) {
  
        ul.contact li {
          margin: 1.5em 0 0 0;
        }
  
      }







  




